.root-drag-n-drop {
  width: 10rem;
  height: 10rem;
  color: #fff;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 0.3rem #fff dotted;
}

.upload-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.drag-n-drop-title {
  font-size: 1rem;
  text-align: center;
  line-height: 10px;
}

.upload-title {
  margin-bottom: 0;
}